@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body {
    background-color: lightgray;
    font-family: 'Rubik Mono One', monospace;

}

main {
    width: 80vh;
    height: 80vh;
    margin: 10%;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.quadratinoNumero {
    border: 1px solid black;
    height: 60px;
    width: 60px;
    display: inline-block;
    position: relative;
    margin: 5px;
    border: 0 solid white;
    border-radius: 10px;
    background-color: white;
}

.quadratinoNumero h1 {
    text-align: center;
    font-size: 26px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

#pComandi {
    display: inline;
    padding: 2%;
    margin: 10px;
    background-color: #f0f0f0;
    display: flex;
    background-color: white;
    font-size: 1.5em;
}

#pComandi {}

.estratti {
    background-color: red;
}