body {
    background-color: lightgray;
}

main {
    width: 80vh;
    height: 80vh;
    margin: 10%;
    overflow: hidden;
    background-color: white;
}

.quadratinoNumero {
    border: 1px solid black;
    height: 60px;
    width: 60px;
    display: inline-block;
    position: relative;
    margin: 5px;
}

.quadratinoNumero h1 {
    text-align: center;
    font-size: 26px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

#comandi {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.estratti {
    background-color: red;
}